header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2022;
    transform: translateY(0);
    transition: transform 0.3s ease;
    height: 70px;
    background-color: rgb(40, 134, 216);
    box-shadow: 0 5px 20px 0 rgba(11,7,110,.2);
}

.header-raper {
    padding: 0 16px;
    display: block;
    height: 100%;
    background: #fff;
    position: relative;
}

.header-components {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-component {
    height: 100%;
    margin: 0;
    float: left;
    display: inline;

}

.branding {
    /* background: rgb(22, 54, 76) none repeat scroll 0% 0%; */
    margin: 0;
    height: 80%;
}

.logo {
    transform: scale(0.6);
    display: inline-block;
    padding: 0;
    margin: 0;
}

.brand-name {
    font-size: larger;
    color: rgb(22, 54, 76);
}